<section class="block block-three-column-1">
  <div class="container">
    <div class="columns">
      <div class="column">
        {% if section.col_1 and section.col_1.image %}
        <img src="{{ section.col_1.image | relative_url }}" alt="{{ section.col_1.alt_text }}">  
        {% endif %}    

        <h3>{{ section.col_1.headline }}</h3>
        <p>{{ section.col_1.content }}</p>
        {% if section.col_1.button and section.col_1.button.enabled == true %}
        <a href="{{ section.col_1.button.link }}" class="button rectangle" style="background-color: {{ section.col_1.button.color }}">SEE MORE</a>
        {% endif %}
      </div>
      <div class="column">
        {% if section.col_2 and section.col_2.image %}
        <img src="{{ section.col_2.image | relative_url }}" alt="{{ section.col_2.alt_text }}"> 
        {% endif %}    

        <h3>{{ section.col_2.headline }}</h3>
        <p>{{ section.col_2.content }}</p>
        {% if section.col_2.button and section.col_2.button.enabled == true %}
        <a href="{{ section.col_2.button.link }}" class="button rectangle" style="background-color: {{ section.col_2.button.color }}">SEE MORE</a>
        {% endif %}
      </div>
      <div class="column">
        {% if section.col_3 and section.col_3.image %}
        <img src="{{ section.col_3.image | relative_url }}" alt="{{ section.col_3.alt_text }}">  
        {% endif %}    

        <h3>{{ section.col_3.headline }}</h3>
        <p>{{ section.col_3.content }}</p>
        {% if section.col_3.button and section.col_3.button.enabled == true %}
        <a href="{{ section.col_3.button.link }}" class="button rectangle" style="background-color: {{ section.col_3.button.color }}">SEE MORE</a>
        {% endif %}
      </div>            
    </div>
  </div>
</section>