<div class="block block-cta-bar" id="contact">
  <div class="container">
    <div class="columns">
        <div class="text">
          <h2>{{ section.headline }}</h2>
          <p>{{ section.content }}</p>
        </div>
        <div class="cta">
          <form method="POST" action="https://formspree.io/info@eyp.hr">
            <textarea name="email" placeholder="e-mail address" class="inverted mail"></textarea>
            <textarea name="message" placeholder="Your message" class="inverted body"></textarea>
            <button type="submit" class="button primary inverted">Send!</button>
        </form>
        </div>
    </div>
  </div>
</div>