<section style=" --bg: {{ section.bg-color }}; --text: {{ section.tx-color }};" class="block block-hero-2" id="blue" 
{% if section.background_image %}
style="background-image: url('{{ section.background_image | relative_url }}')"
{% endif %}>
  <div class="container">
    <div class="columns">

      <div class="column media">
        <img src="{{ section.image.image | relative_url }}" alt="{{ section.image.alt_text }}">
      </div>

      <div class="column text">
        <h1><span class="light" id="headline">{{ section.headline }}</span></h1>
        <p style="color: {{ section.tx-color }};">{{ section.content }}</p>
        {% if section.button and section.button.enabled == true %}
        <a href="{{ section.button.url }}" class="button rectangle" style="background-color: {{ section.button.bg_col }}"> {{section.button.button_text }}</a>
        {% endif %}

        {% if section.button2 and section.button2.enabled == true %}
        <a href="{{ section.button2.url }}" class="button rectangle" style="background-color: {{ section.button.bg_col }}"> {{section.button2.button_text }}</a>
        {% endif %}
      </div>
    </div>

</section>

<script>
/*
var myArray = [
  "organised for <strong>youth</strong> <br> by <strong>youth</strong>",
  "Bananas",
  "Pears"
];

var randomItem = myArray[Math.floor(Math.random()*myArray.length)];

document.getElementById('headline').innerHTML = randomItem
*/
</script>