<style>

.block-header-1 .main a {
    text-decoration: none;
    color: {{section.color}};
}

.block-header-1 .main a:hover {
    color: {{section.hov-color}};
}

.nav{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    border-bottom: 4px solid;
    border-color: {{section.color}};
}


</style>

<header class="block block-header-1 nav" id="header">

  <nav class="block-header-1--nav main" id="nav" >
    <ul>
      {% for nav_item in section.navigation %}
      <li class="nav-item {% if page.url == nav_item.link %}active{% endif %}"><a href="{{ nav_item.link }}">{{ nav_item.link_text }}</a></li>
      {% endfor %}
    </ul>
  </nav>
</header>

